<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Editar Rentas</title>
</head>
<body>
    <h1>Editar Rentas</h1>
    <form action="{{ url_for('renta.edit', idRenta=renta.idRenta) }}" method="post">

        <label for="fecha_renta">fecha_renta:</label>
        <input type="text" id="fecha_renta" name="fecha_renta" value="{{ renta.fecha_renta }}" required>

        <label for="fecha_devolucion">fecha_devolucion:</label>
        <input type="text" id="fecha_devolucion" name="fecha_devolucion" value="{{ renta.fecha_devolucion }}" required>

        <label for="total">total:</label>
        <input type="text" id="total" name="total" value="{{ renta.total }}" required>

        <label for="empleado_id">empleado_id:</label>
        <input type="text" id="empleado_id" name="empleado_id" value="{{ renta.empleado_id }}" required>


        <label for="cliente_id">cliente_id:</label>
        <input type="text" id="cliente_id" name="cliente_id" value="{{ renta.cliente_id }}" required>

        <button type="submit">Actualizar Renta</button>
    </form>
</body>  

</html>
