<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>DETALLE RENTA</title>
</head>
<body>
    <div class="sidebar">
        <h2>Menú</h2>
        <a href="{{ url_for('renta.index') }}" class="sidebar-link">Renta</a>
        <a href="{{ url_for('cliente.index') }}" class="sidebar-link">Cliente</a>
        <a href="{{ url_for('empleado.index') }}" class="sidebar-link">Empleados</a>
        <a href="{{ url_for('detalle_renta.index') }}" class="sidebar-link">Detalle Renta</a>
        <a href="{{ url_for('inventario.index') }}" class="sidebar-link">Inventario</a>
        <a href="{{ url_for('pelicula.index') }}" class="sidebar-link">Película</a>
        <a href="{{ url_for('genero.index') }}" class="sidebar-link">Género</a>
        <a href="{{ url_for('director.index') }}" class="sidebar-link">Director</a>
    </div>

    <div class="main-content">

        <h1>Lista de Detalle Renta</h1>
        <table>
            <tr>
               <th>ID</th>
               <th>FechaDevolucion</th>
               <th>IDRenta</th>
               <th>IDInventario</th>
               <th>Acciones</th>
            </tr>
            {% for detalle_renta in data %}
                <tr>
                   <td>{{ detalle_renta.idDetalleRenta }}</td>
                   <td>{{ detalle_renta.fecha_devolucion }}</td>
                   <td>{{ detalle_renta.renta_id }}</td>
                   <td>{{ detalle_renta.inventario_id }}</td>
             
                   <td>
                      <a href="{{ url_for('detalle_renta.edit', idDetalleRenta=detalle_renta.idDetalleRenta) }}">Editar</a>
                      <a href="{{ url_for('detalle_renta.delete', idDetalleRenta=detalle_renta.idDetalleRenta) }}">Eliminar</a>
                    
                    </td>
                </tr>
            {% endfor %}
        </table>
        <a href="{{ url_for('detalle_renta.add') }}" class="btn-agregar">Agregar Detalle Renta</a>
    </div>
    
    <br>
    
</body>
</html>
